.modal-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-body {
  position: absolute;
  margin: auto;
  height: 460px;
  width: 500px;
  border: 1px solid green;
  background-color: bisque;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-button {
  border-radius: 5px;
  height: 30px;
  background-color: white;
  border: 1px solid rgb(161, 226, 142);
  cursor: pointer;
}